CodeTest/src/main/resources/wsdl/GCDServicePortType.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. -->
<definitions targetNamespace="http://jaxws.services.java.main/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://jaxws.services.java.main/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://jaxws.services.java.main/" schemaLocation="GCDServicePortType_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="gcdSum">
    <part name="parameters" element="tns:gcdSum"/>
  </message>
  <message name="gcdSumResponse">
    <part name="parameters" element="tns:gcdSumResponse"/>
  </message>
  <message name="gcdList">
    <part name="parameters" element="tns:gcdList"/>
  </message>
  <message name="gcdListResponse">
    <part name="parameters" element="tns:gcdListResponse"/>
  </message>
  <message name="gcd">
    <part name="parameters" element="tns:gcd"/>
  </message>
  <message name="gcdResponse">
    <part name="parameters" element="tns:gcdResponse"/>
  </message>
  <portType name="GCDService">
    <operation name="gcdSum">
      <input ns1:Action="http://jaxws.services.java.main/GCDService/gcdSumRequest" message="tns:gcdSum" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://jaxws.services.java.main/GCDService/gcdSumResponse" message="tns:gcdSumResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="gcdList">
      <input ns3:Action="http://jaxws.services.java.main/GCDService/gcdListRequest" message="tns:gcdList" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="http://jaxws.services.java.main/GCDService/gcdListResponse" message="tns:gcdListResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="gcd">
      <input ns5:Action="http://jaxws.services.java.main/GCDService/gcdRequest" message="tns:gcd" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns6:Action="http://jaxws.services.java.main/GCDService/gcdResponse" message="tns:gcdResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

